<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <header>
    <h1><a href='/'>Garnet Lite</a><a href='/instructors/new'>(+)</a></h1>
  </header>
  <%= yield %>
</body>
</html>
