<h2>Instructor First Name: <%= @instructor.first_name %></h2>
<h2>Instructor Last Name: <%= @instructor.last_name %></h2>
<h3><a href="/instructors/<%= @instructor.id %>/edit">Edit this Instructor</a></h3>
